body
{
  background-color: teal
}

#tank
{
  position: relative;
}

.fish
{
  position: absolute;
}

.fish img
{
  width: 100px;
}

.fishFood img
{
  width: 120px;
  position: absolute;
  top: 10px;
}