body
{
  background-color: teal
}

#tank
{
  position: relative;
}

.fish
{
  position: absolute;
}

.fish img
{
  width: 100px;
}

#moss
{
  position: absolute;
  top: 30px;
}

#moss img
{
  width: 120px;
}

#fishFood
{
  position: absolute;
  top: 10px;
}

#fishFood img
{
  width: 50px;
}