body
{
  background-color: teal
}

#tank
{
  position: relative;
}

.fish
{
  position: absolute;
}

/* .healthbar
{
  position: absolute;
} */

.fish img
{
  width: 90px;
}

#fish1
{
  top: 70px;
}

#fish2
{
  top: 360px;
}

#fishFood img
{
  width: 70px;
  position: absolute;
  top: 200px;
}