#header 
{
    background-color: teal;
    text-align:center;
    font:50 200% Georgia;
    color:white;
    position:relative;
    width:50%;
    margin:auto;
    border-radius:10%;
    padding:3%;
}
#about {
    font:50 175% Georgia;
    color:teal;
    position:relative;
    width:75%;
    text-align:center;
    margin:auto;
}
#contributerHeader {
    font: 50 190% Georgia;
    background-color:teal;
    color:white;
    position:relative;
    padding:0.5%;
    text-align:center;
    margin:auto;
    border-radius:10%;
    width:25%;
    margin-top:10%;
    
}
.contributer {
    position:relative;
    margin:10%;
}

.contributer img {
    border-radius:50%;
    height:200px;
    width:200px;
    border:10px solid teal;
}
.contributer p {
    font: 50 150% Georgia;
    color:teal;
    width:70%;
    display:inline-block;
    vertical-align:top;
    padding-left: 6%;
    
    
}
#link {
    background-color:teal;
    padding:1%;
    width:5%;
    border-radius:2%;
    margin:2%;
}
.rotate {
    transform: rotate(90deg);
}

#link a {
    font: 50 160% Georgia;
    color:white;
    text-decoration:none;
}